trigger:
  branches:
    include:
      - master
  paths:
    include:
      - '*'                # adjust if functions are in a subfolder

pool:
  vmImage: 'ubuntu-latest'   # or ubuntu-24.04 if you want newer

variables:
  pythonVersion: '3.12'
  functionAppName: 'basicfunc5601fa'      # ← CHANGE THIS
  resourceGroupName: 'basicfunc5601rg'       # ← CHANGE THIS
  azureSubscription: 'testconnection1'  # ← CHANGE THIS (name of service connection)

steps:

- task: UsePythonVersion@0
  displayName: 'Use Python $(pythonVersion)'
  inputs:
    versionSpec: '$(pythonVersion)'

- script: |
    python -m pip install --upgrade pip
    pip install --upgrade azure-functions azure-functions-devops-build
    pip install -r requirements.txt --target=".python_packages/lib/python3.12/site-packages"
  displayName: 'Install dependencies'

- task: ArchiveFiles@2
  displayName: 'Archive function app files'
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/functionapp.zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy stage'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployToFunctionApp
    displayName: 'Deploy to Azure Function App'
    pool:
      vmImage: 'ubuntu-latest'
    environment: 'prod'               # optional – use for approval gates
    strategy:
      runOnce:
        deploy:
          steps:

          - task: AzureFunctionApp@2
            displayName: 'Deploy to Azure Function'
            inputs:
              azureSubscription: '$(azureSubscription)'
              appType: 'functionAppLinux'
              appName: '$(functionAppName)'
              package: '$(Pipeline.Workspace)/drop/functionapp.zip'
              deploymentMethod: 'zipDeploy'
              # Optional – only needed if you want to override runtime (usually set on app already)
              # runtimeStack: 'PYTHON|3.12'